@inherits UmbracoViewPage
<section id="two">
    <div class="inner">
        <article>
            <div class="content">
                <header>
                    <a href="https://localhost:44324/umbraco/preview/?id=1215#?culture=en-US">
                    <h3>@Umbraco.AssignedContentItem.Value("sectionTitle1")</h3>
                    </a>
                </header>
                <div class="image fit">
                    <img width="324" height="240" src="@Umbraco.AssignedContentItem.Value("sectionImage1")" alt="" />
                </div>
                <p>@Umbraco.AssignedContentItem.Value("sectionContent1")</p>
            </div>
        </article>
        <article class="alt">
            <div class="content">
                <header>
                    <a href="https://localhost:44324/umbraco/preview/?id=1216#?culture=en-US">
                    <h3>@Umbraco.AssignedContentItem.Value("sectionTitle2")</h3>
                    </a>
                </header>
                <div class="image fit">
                    <img width="324" height="240" src="@Umbraco.AssignedContentItem.Value("sectionImage2")" alt="" />
                </div>
                <p>@Umbraco.AssignedContentItem.Value("sectionContent2")</p>
            </div>
        </article>
    </div>

    <div class="inner">
        <article>
            <div class="content">
                <header>
                    <a href="https://localhost:44324/umbraco/preview/?id=1220#?culture=en-US">
                    <h3>@Umbraco.AssignedContentItem.Value("sectionTitle3")</h3>
                        </a>
                </header>
                <div class="image fit">
                    <img width="324" height="240" src="@Umbraco.AssignedContentItem.Value("sectionImage3")" alt="" />
                </div>
                <p>@Umbraco.AssignedContentItem.Value("sectionContent3")</p>
            </div>
        </article>
        <article class="alt">
            <div class="content">
                <header>
                    <a href="https://localhost:44324/umbraco/preview/?id=1221#?culture=en-US">
                    <h3>@Umbraco.AssignedContentItem.Value("sectionTitle4")</h3>
                        </a>
                </header>
                <div class="image fit">
                    <img width="324" height="240" src="@Umbraco.AssignedContentItem.Value("sectionImage4")" alt="" />
                </div>
                <p>@Umbraco.AssignedContentItem.Value("sectionContent4")</p>
            </div>
        </article>
    </div>
</section>
